[submodule "lib/hashmap.h"]
	path = lib/hashmap.h
	url = git@github.com:sheredom/hashmap.h.git
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "lib/Unity"]
	path = lib/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
