[submodule "libs/utils/cJSON"]
	path = libs/utils/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "libs/utils/hashmap.h"]
	path = libs/utils/hashmap.h
	url = git@github.com:sheredom/hashmap.h.git
